MONGO_HOST=your_mongo_host(localhost)
MONGO_PORT=your_mongo_port(27017)
MONGO_DB_NAME=your_mongo_db_name(paris_metro_map)

MONGO_USER=your_mongo_user(optional)
MONGO_PASSWORD=your_mongo_user(optional)